* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: roboto, sans-serif;
}

.roboto-regular {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.padding {
	padding-top: 20px;
	padding-bottom: 10px;
}

.bg-green {
	background-color: #b5d39c62;
}
